<html>
  <head>
    <title>Django tutorial blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django tutorial blog</h1>
    </div>
    <div>
      <p>published: 02.10.2016, 23:36</P>
      <h2>My first post</h2>
      <p>I was told a million times of all the troubles in my way, how I had to keep on trying ...</p>
    </div>
    <div>
      <p>published: 02.10.2016, 23:39</P>
      <h2>My second post</h2>
      <p>Yesterday my life was in ruins. Now today I know what I'm doing ...</p>
    </div>
  </body>
</html>
